# Flipkart EDA assignment

## TODO: Upload csv file before moving to next

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Flipkart Data Engineering").getOrCreate()
file_path = '/FileStore/tables/Flipkart.csv'
flipkart_df = spark.read.csv(file_path, header=True, inferSchema=True)

In [0]:
flipkart_df.printSchema()
flipkart_df.count()

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- maincateg: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- actprice1: integer (nullable = true)
 |-- norating1: integer (nullable = true)
 |-- noreviews1: integer (nullable = true)
 |-- star_5f: integer (nullable = true)
 |-- star_4f: integer (nullable = true)
 |-- star_3f: integer (nullable = true)
 |-- star_2f: integer (nullable = true)
 |-- star_1f: integer (nullable = true)
 |-- fulfilled1: integer (nullable = true)

Out[5]: 5244

In [0]:
flipkart_df.show(5)

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20532|Women Black Flats...|   3.9|    Women|Flipkart|      499|     3015|       404|   1458|    657|    397|    182|    321|         1|
|10648|Women Gold Wedges...|   3.9|    Women|Flipkart|      999|      449|        52|    229|     70|     71|     33|     46|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|12593|Loafers For Men  ...|   3.9|      Men|Flipkart|      999|     2423|       326|   1265|    414|    293|    143|    308|         0|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 5 rows

In [0]:
# Display all category names

flipkart_df.select("maincateg").distinct().show(truncate=False)

+---------+
|maincateg|
+---------+
|null     |
|Men      |
|Women    |
+---------+

In [0]:
# Filter products with rating > 4 and more than 100 reviews

# Convert 'Rating' and 'noreviews1' columns to numeric types just in case they're read as strings
from pyspark.sql.functions import col

filtered_df = flipkart_df \
    .filter((col("Rating").cast("double") > 4) & (col("noreviews1").cast("int") > 100))

filtered_df.show(truncate=False)

+-----+--------------------------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|id   |title                                                                                                   |Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|13859|Women Black Wedges Sandal                                                                               |4.2   |Women    |Flipkart|279      |3048     |487       |1746   |679    |348    |114    |161    |1         |
|19453|Denill Ankle Length Sneakers Sneakers For Women  (Pink)                                                 |4.1   |Women    |Flipkart|999      |6806     |961       |3646   |1508   |810    |335    |510    |1         |
|3205 |SFG-23 Slippers                                                                                         |4.1   |Men      |Flipkart|319      |12936    |1598      |7030   |2850   |1453   |587    |1016   |1         |
|7625 |White casual, gym,training & Running shoes for men's Running Shoes For Men  (White)                     |4.2   |Men      |Flipkart|999      |2430     |381       |1472   |397    |251    |105    |205    |0         |
|17791|Synthetic Leather Casual Partywear New Stylish Boots Shoes For Women's And Girls Boots For Women  (Pink)|4.2   |Women    |Flipkart|1399     |1256     |182       |791    |212    |114    |43     |96     |1         |
|15762|Running Shoes For Men  (Green)                                                                          |4.1   |Men      |Flipkart|999      |57372    |8254      |32715  |10686  |6362   |2806   |4803   |0         |
|15247|SM-484 Casuals For Men  (Navy, Orange)                                                                  |4.2   |Men      |Flipkart|1399     |2958     |436       |1685   |736    |259    |107    |171    |0         |
|20247|Women Black Heels Sandal                                                                                |4.1   |Women    |Flipkart|999      |1052     |182       |568    |248    |121    |45     |70     |1         |
|10655|Women Brown Wedges Sandal                                                                               |4.1   |Women    |Flipkart|999      |1029     |178       |563    |228    |108    |49     |79     |1         |
|20918|GO WALK 5-SPARROW Walking Shoes For Men  (Navy)                                                         |4.3   |Men      |Flipkart|4999     |1057     |106       |664    |206    |75     |40     |72     |1         |
|16193|crocs Unisex's Ralen Clogs                                                                              |4.3   |Women    |Amazon  |995      |1        |661       |8      |2      |7      |20     |62     |1         |
|8485 |Men Grey Clogs Sandal                                                                                   |4.1   |Men      |Flipkart|849      |1675     |328       |870    |466    |166    |60     |113    |0         |
|7561 |Men Navy Sports Sandal                                                                                  |4.2   |Men      |Flipkart|499      |17035    |2103      |9223   |4219   |1888   |614    |1091   |1         |
|9249 |Women Black Wedges Sandal                                                                               |4.2   |Women    |Flipkart|279      |3049     |487       |1745   |679    |348    |114    |161    |1         |
|20597|Sneakers For Men  (Blue)                                                                                |4.1   |Men      |Flipkart|999      |4489     |597       |2673   |639    |446    |263    |468    |1         |
|11078|Men Black Clogs Sandal                                                                                  |4.2   |Men      |Flipkart|2995     |12390    |1098      |6891   |3100   |1035   |429    |935    |1         |
|13151|Walking Shoes For Women  (Black)                                                                        |4.1   |Women    |Flipkart|999      |7100     |938       |3644   |1706   |930    |352    |468    |1         |
|15716|Mojaris For Men  (Brown)                                                                                |4.1   |Men      |Flipkart|999      |949      |106       |517    |190    |116    |47     |79     |1         |
|20324|Women Pink Wedges Sandal                                                                                |4.2   |Women    |Flipkart|999      |1797     |232       |1000   |413    |205    |83     |96     |0         |
|8184 |Slides                                                                                                  |4.1   |Women    |Flipkart|499      |872      |141       |459    |210    |89     |47     |67     |1         |
+-----+--------------------------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [0]:
# Display Products in 'Men' category that are fulfilled

from pyspark.sql.functions import col

men_fulfilled_df = flipkart_df \
    .filter((col("maincateg") == "Men") & (col("fulfilled1") == "1"))

men_fulfilled_df.show(truncate=False)

+-----+----------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|id   |title                                                                                   |Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+----------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|2242 |Casuals For Men  (Blue)                                                                 |3.8   |Men      |Flipkart|999      |27928    |3543      |14238  |4295   |3457   |1962   |3976   |1         |
|20677|Men's Height Increasing High Heel Formal Party Wear Slip-on Boots Slip On For Men  (Tan)|3.9   |Men      |Flipkart|2999     |290      |40        |141    |51     |49     |17     |32     |1         |
|10680|Combo Pack Of 2 Casual Shoes Slip On Sneakers For Men  (Blue, Grey)                     |3.9   |Men      |Flipkart|2400     |824      |105       |386    |199    |106    |61     |72     |1         |
|11579|MOCCASSIN Slip On For Men  (Black)                                                      |3.8   |Men      |Flipkart|2299     |3066     |392       |1304   |803    |462    |189    |308    |1         |
|12260|Long OfficeWear Corporate Casuals For Men  (Black)                                      |3.9   |Men      |Flipkart|999      |14247    |2102      |6921   |2924   |1976   |882    |1544   |1         |
|3205 |SFG-23 Slippers                                                                         |4.1   |Men      |Flipkart|319      |12936    |1598      |7030   |2850   |1453   |587    |1016   |1         |
|14489|Dark Brown Leather Jalsa Jutis For Men  (Brown)                                         |3.9   |Men      |Flipkart|599      |374      |55        |182    |75     |58     |20     |39     |1         |
|10206|Long OfficeWear Corporate Casuals For Men  (Brown)                                      |3.9   |Men      |Flipkart|999      |14253    |2103      |6924   |2925   |1977   |883    |1544   |1         |
|8920 |Monk Strap For Men  (Brown)                                                             |4.2   |Men      |Flipkart|4595     |498      |58        |281    |116    |44     |23     |34     |1         |
|9762 |Men Brown Sandal                                                                        |4.6   |Men      |Flipkart|349      |20       |2         |14     |4      |2      |0      |0      |1         |
|14490|Men Hawaii Flip Flops                                                                   |3.7   |Men      |Flipkart|499      |13702    |1813      |6200   |2605   |1898   |1075   |1924   |1         |
|15546|Men Blue Clogs Sandal                                                                   |3.7   |Men      |Flipkart|1299     |3691     |427       |1577   |813    |535    |264    |502    |1         |
|10068|Java 2 IDP Flip Flops                                                                   |4.1   |Men      |Flipkart|2299     |679      |61        |398    |135    |54     |31     |61     |1         |
|6052 |Derby For Men  (Black)                                                                  |2.8   |Men      |Flipkart|4999     |22       |1         |7      |1      |2      |5      |7      |1         |
|11469|Combo pack of 2 sports and running shoes for men Walking Shoes For Men  (Multicolor)    |3.6   |Men      |Flipkart|998      |24420    |2783      |11438  |3155   |3005   |2330   |4492   |1         |
|20918|GO WALK 5-SPARROW Walking Shoes For Men  (Navy)                                         |4.3   |Men      |Flipkart|4999     |1057     |106       |664    |206    |75     |40     |72     |1         |
|2592 |Genuine Leather Formal Shoes Derby For Men  (Black)                                     |3.9   |Men      |Flipkart|2999     |383      |54        |187    |81     |46     |21     |48     |1         |
|14541|Genuine Leather Formal Shoes Derby For Men  (Black)                                     |3.9   |Men      |Flipkart|2999     |383      |54        |187    |81     |46     |21     |48     |1         |
|7561 |Men Navy Sports Sandal                                                                  |4.2   |Men      |Flipkart|499      |17035    |2103      |9223   |4219   |1888   |614    |1091   |1         |
|3369 |Men Brown Sandal                                                                        |3.9   |Men      |Flipkart|1499     |76       |12        |35     |17     |11     |4      |9      |1         |
+-----+----------------------------------------------------------------------------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [0]:
# Dsiplay number of products per category

flipkart_df.groupBy("maincateg").count().show()

+---------+-----+
|maincateg|count|
+---------+-----+
|     null|   67|
|      Men| 2145|
|    Women| 3032|
+---------+-----+

In [0]:
# Display Average rating per category

from pyspark.sql.functions import col, avg

# Make sure Rating is treated as numeric
avg_rating_df = flipkart_df \
    .withColumn("Rating", col("Rating").cast("double")) \
    .groupBy("maincateg") \
    .agg(avg("Rating").alias("avg_rating"))

# Show the result sorted by average rating (optional)
avg_rating_df.orderBy("avg_rating", ascending=False).show(truncate=False)

+---------+------------------+
|maincateg|avg_rating        |
+---------+------------------+
|null     |4.225             |
|Women    |4.0416582064297915|
|Men      |3.9662970106075246|
+---------+------------------+

In [0]:
# Dsiplay Category with highest average number of reviews

from pyspark.sql.functions import col, avg

# Ensure 'noreviews1' is numeric and calculate average reviews per category
avg_reviews_df = flipkart_df \
    .withColumn("noreviews1", col("noreviews1").cast("int")) \
    .groupBy("maincateg") \
    .agg(avg("noreviews1").alias("avg_reviews"))

# Get the category with the highest average number of reviews
avg_reviews_df.orderBy("avg_reviews", ascending=False).show(1, truncate=False)

+---------+-----------------+
|maincateg|avg_reviews      |
+---------+-----------------+
|Men      |759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
# Top 5 products with highest price. display product name and price

from pyspark.sql.functions import col

# Cast actprice1 to numeric and select top 5 by price
top_price_df = flipkart_df \
    .withColumn("actprice1", col("actprice1").cast("int")) \
    .select("title", "actprice1") \
    .orderBy(col("actprice1").desc()) \
    .limit(5)

top_price_df.show(truncate=False)

+----------------------------------------------------------+---------+
|title                                                     |actprice1|
+----------------------------------------------------------+---------+
|GEL-QUANTUM 360 KNIT Running Shoes For Women  (Blue, Grey)|15999    |
|Women Orange Sports Sandal                                |12999    |
|GT-2000 5 (D) Running Shoes For Women  (Blue)             |10999    |
|Hybrid Astro Running Shoes For Men  (Black)               |10999    |
|DEERUPT RUNNER W Sneakers For Women  (White)              |9999     |
+----------------------------------------------------------+---------+

In [0]:
# Display Min, max, and avg price per category

from pyspark.sql.functions import col, min, max, avg

flipkart_df.groupBy("maincateg").agg({"actprice1": "min", "actprice1": "max", "actprice1": "avg"}).show()

  File <command-4003054415232855>:5
    flipkart_df.groupBy("maincateg").agg({"actprice1": "min", "actprice1": "max", "actprice1": "avg"}).show()
                                                                                              ^
SyntaxError: invalid non-printable character U+00A0

In [0]:
# Display number of nulls in each column

from pyspark.sql.functions import col, sum, when

# Count nulls in each column
null_counts = flipkart_df.select([
    sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in flipkart_df.columns
])

null_counts.show(truncate=False)

+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|id |title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|0  |0    |203   |67       |0       |0        |0        |0         |68     |0      |0      |0      |186    |0         |
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+

In [0]:
# calculate and display the category name, number of fulfilled, and unfulfilled products

from pyspark.sql.functions import col, sum, when

# Ensure fulfilled1 is treated consistently (e.g., as int or string depending on your dataset)
fulfilled_df = flipkart_df.groupBy("maincateg").agg(
    sum(when(col("fulfilled1") == "1", 1).otherwise(0)).alias("fulfilled_count"),
    sum(when(col("fulfilled1") != "1", 1).otherwise(0)).alias("unfulfilled_count")
)

fulfilled_df.orderBy("maincateg").show(truncate=False)

+---------+---------------+-----------------+
|maincateg|fulfilled_count|unfulfilled_count|
+---------+---------------+-----------------+
|null     |40             |27               |
|Men      |1352           |793              |
|Women    |1778           |1254             |
+---------+---------------+-----------------+

In [0]:
flipkart_df.groupBy("maincateg").count().show()

+---------+-----+
|maincateg|count|
+---------+-----+
|     null|   67|
|      Men| 2145|
|    Women| 3032|
+---------+-----+

In [0]:
from pyspark.sql.functions import avg

flipkart_df.groupBy("maincateg").agg(avg("Rating").alias("avg_rating")).show()

+---------+------------------+
|maincateg|        avg_rating|
+---------+------------------+
|     null|             4.225|
|      Men|3.9662970106075246|
|    Women|4.0416582064297915|
+---------+------------------+

In [0]:
# Display Category with highest average number of reviews

from pyspark.sql.functions import avg

flipkart_df.groupBy("maincateg").agg(avg("noreviews1").alias("avg_reviews")).orderBy("avg_reviews", ascending=False).show(1)

+---------+-----------------+
|maincateg|      avg_reviews|
+---------+-----------------+
|      Men|759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
category_counts = flipkart_df.groupBy("maincateg").count()
category_counts.display()

maincateg,count
null,67
Men,2145
Women,3032

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import avg

category_avg_ratings = flipkart_df.groupBy("maincateg").agg(avg("Rating").alias("avg_rating"))
category_avg_ratings.display()

maincateg,avg_rating
null,4.225
Men,3.9662970106075246
Women,4.0416582064297915

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import sum

category_total_reviews = flipkart_df.groupBy("maincateg").agg(sum("noreviews1").alias("total_reviews"))
category_total_reviews.display()

maincateg,total_reviews
null,14084
Men,1629461
Women,535290

In [0]:
from pyspark.sql.functions import col, max

flipkart_df = flipkart_df.withColumn("star_5f", col("star_5f").cast("int"))
max_val = flipkart_df.agg(max("star_5f")).first()[0]
flipkart_df.filter(col("star_5f") == max_val).select("title", "star_5f").show(truncate=False)

+-------------------------------------------+-------+
|title                                      |star_5f|
+-------------------------------------------+-------+
|Jio-13 Running Shoes For Men  (Black, Grey)|151193 |
|Running Shoes For Men  (Silver, Black)     |151193 |
+-------------------------------------------+-------+